body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li.links a{
    display: block;
    color: white;
    text-align: center;
    padding:30px 60px;
    text-decoration: none;
    font-size:18px;
    font-family:"Circular", Helvetica, sans-serif;
}
ul.topnav li{
	margin:20px;

}

ul.topnav li a:hover:not(.active) {background-color: #111;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .image{text-align:center;}
}

ul.topnav li.image{
	margin-right:50%;
}
ul.topnav li.image a:hover{
	background-color:#333;

}

.alumni-logo{
	width:150px;
	margin-right:40%;
}
div{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
label{
        margin-bottom: 0.25rem;
    line-height: 1.4;
    cursor: pointer;
        margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
