body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li.links a{
    display: block;
    color: white;
    text-align: center;
    padding:30px 60px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .alumni-logo{float:center;}
}
ul.topnav li.image a:hover{
	background-color:#333;

}

.alumni-logo{
	width:150px;
	margin-right:40%;
}
