header
    div
        a(href="#")
    div.navbar
        ul.topnav
          li.image
            a(href="/")
                img.alumni-logo(src="images/inventiveLogo.png")
          li 
            a(href="#") Graduates
          li    
            a(href="#") Jobs