header
    div
       ul.topnav
          li.image
           a.active(href="/") 
            img.alumni-logo(src="images/inventiveLogo.png")
          li
            a(href="alumniDetails") Graduates
          li
            a(href="#contact") Jobs 
          li.right
            a(href="#") Create account
          li.right
            a(href="#") Sign in