header
    div
        a(href="#")
    div.navbar
        img.alumni-logo(src="images/inventiveLogo.png")
        ul
            li 
                a(href="#") Graduates
            li
                a(href="#") Jobs
            li
                a(href="alumniDetails") Alumni Details
            li
                a(href="#") Create Account
            li
                p or
            li
                a(href="#") Sign In