header
    div
        a(href="#")
            div.logo
                img.alumni-logo(src="")
                h1 Inventive
    div
        a(href="#") Graduates
        a(href="#") Jobs
        a(href="#") Create Account
        p or
        a(href="#") Sign In