header
    div
        a(href="#")
            div.logo
                img.alumni-logo(src="inventiveLogo.png")
                h1 Inventive
    div
        a(href="#") Graduates
        a(href="#") Jobs
        a(href="alumniDetails") Alumni Details
        a(href="#") Create Account
        p or
        a(href="#") Sign In