header
   
   ul(class="nav nav-tabs")
     a(href="/")
       img.alumni-logo(src="images/inventiveLogo.png")
     li 
        a(href="signIn") Sign in
     li
        a(href="userform") Create Account
     li
        a(data-toggle="tab" href="#") Jobs
     li
        a(data-toggle="tab" href="alumniDetails") Graduates