header
   
   ul(class="nav nav-tabs")
     a(href="/")
       img.alumni-logo(src="images/inventiveLogo.png")
     li 
        a(href="#") Sign in
     li
        a(href="#") Create Account
     li
        a(data-toggle="tab" href="#") Jobs
     li.active
        a(data-toggle="tab" href="alumniDetails") Graduates