extends layout

block content
    .MainContainer
        .ContainterSummary
            div
                div
                h3
                div
            div
                p
        .ContainterPerState
            .SideBarSum
                div
                    img(src="")
                div
                    h5 I'm looking for
                    div
                        ul
                            li Full Time
                            li Freelance
                    div
                        a(href="#") Let's Talk
                div
                    a(href="#")
                    a(href="#")
            .MyDetails
                .SectionOne
                    h2 Drake Siemer
                    p Inventive student becomes the ?
                .SectionTwo
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                .SectionThree
                    div
                        h3 Skills
                    div
                        span My top three
                        ul
                            li Express
                            li Pug
                            li html
                        span Some other skills
                        ul
                            li constant learner
                            li cool dude
                            li adaptive
                            li team player
                            li servant leader
        .MyExperience
            .Title
                h2 MY EXPERIENCE
            .QuestionColumn
                div
                    img(src="")
                div
                    div
                        p Commodo sit ullamco anim consequat
                    div
                        h5 Laborum non ad esse occaecat reprehenderit tempor 
                        p Proident sed quis deserunt in consequat reprehenderit velit irure cillum esse sunt anim tempor est deserunt commodo magna ullamco sint sint velit officia commodo et magna cillum adipisicing commodo id anim dolore minim veniam qui sunt sit anim eu.
                div
                    div
                        p Commodo sit ullamco anim consequat
                    div
                        h5 Laborum non ad esse occaecat reprehenderit tempor 
                        p Proident sed quis deserunt in consequat reprehenderit velit irure cillum esse sunt anim tempor est deserunt commodo magna ullamco sint sint velit officia commodo et magna cillum adipisicing commodo id anim dolore minim veniam qui sunt sit anim eu.
                div
                    div
                        p Commodo sit ullamco anim consequat
                    div
                        h5 Laborum non ad esse occaecat reprehenderit tempor 
                        p Proident sed quis deserunt in consequat reprehenderit velit irure cillum esse sunt anim tempor est deserunt commodo magna ullamco sint sint velit officia commodo et magna cillum adipisicing commodo id anim dolore minim veniam qui sunt sit anim eu.
            .ExperienceColumn
                div
                    div
                        img(src="")
                    div
                        p aslfd
                        p alfskj
                    div
                        p Ut sit dolore aliqua commodo qui ut sed excepteur exercitation elit adipisicing reprehenderit sed quis dolore dolore adipisicing enim tempor laboris ad sint minim mollit ullamco amet minim pariatur laboris id dolore consectetur enim ex dolore.
                        a(href="#")
                            lsdfj img(src="#")
                div
                    div
                        img(src="#")
                    div
                        p project
                        h4 project dragon fire
                        p Quis duis deserunt amet quis enim quis id exercitation magna aute dolore occaecat in dolor deserunt enim ut ea exercitation dolore dolor et in veniam quis elit dolore non in adipisicing fugiat anim duis in est.
                        a(href="")
                            Launch projects img(src="#")


