extends layout

block content
    div
        .ContainterSummary
            div
                div
                h3
                div
            div
                p
        .ContainterPerState
            .SideBarSum
                div
                    img(src="")
                div
                    h5 I'm looking for
                    div
                        ul
                            li Full Time
                            li Freelance
                    div
                        a(href="#") Let's Talk
                div
                    a(href="#")
                    a(href="#")
            .MyDetails
                .SectionOne
                    h2 Drake Siemer
                    p Inventive student becomes the ?
                .SectionTwo
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                .SectionThree
                    div
                        h3 Skills
                    div
                        span My top three
                        ul
                            li Express
                            li Pug
                            li html
                        span Some other skills
                        ul
                            li constant learner
                            li cool dude
                            li adaptive
                            li team player
                            li servant leader

