extends layout

block content
    div
        .ContainterSummary
            div
                div
                h3
                div
            div
                p
        .ContainterPerState
            .SideBarSum
                div
                    img(src="")
                div
                    h5 I'm looking for
	                div
	                    ul
	                        li Full Time
	                        li Freelance
	                div
	                    a(href="#") Let's Talk
	            div
	                a(href="#")
	                a(href="#")
            .MyDetails
                div
                    h2 Drake Siemer
                    div
                    p Inventive student becomes the ?