extends layout

block content
    div
        .ContainerSummary
            i(class="fa fa-quote-left fa-2x" aria-hidden="true")
            p.summary Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        .ContainerPerState
            .SideBarSum
                div
                    img.alumniImage(src="images/purplehair.jpg")
                div
                    h5 I'm looking for
                    div
                        ul
                            li Full Time
                            li Freelance
                    div
                        a(href="#") Let's Talk
                div
                    a(href="#")
                    a(href="#")
            .MyDetails
                .SectionOne
                    h2 Drake Siemer
                    p Inventive student becomes the ?
                .SectionTwo
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                    div
                        .IconColumn
                           img(src="")
                        .MainColumn
                            p text
                .SectionThree
                    div
                        h3 Skills
                    div
                        span My top three
                        ul
                            li Express
                            li Pug
                            li html
                        span Some other skills
                        ul
                            li constant learner
                            li cool dude
                            li adaptive
                            li team player
                            li servant leader
        .MyExperience
            .Title
                h2 MY EXPERIENCE
            .QuestionColumn
                div
                    img(src="")
                div
                    div
                        p Commodo sit ullamco anim consequat
                    div
                        h5 Laborum non ad esse occaecat reprehenderit tempor 
                        p Proident sed quis deserunt in consequat reprehenderit velit irure cillum esse sunt anim tempor est deserunt commodo magna ullamco sint sint velit officia commodo et magna cillum adipisicing commodo id anim dolore minim veniam qui sunt sit anim eu.
                div
                    div
                        p Commodo sit ullamco anim consequat
                    div
                        h5 Laborum non ad esse occaecat reprehenderit tempor 
                        p Proident sed quis deserunt in consequat reprehenderit velit irure cillum esse sunt anim tempor est deserunt commodo magna ullamco sint sint velit officia commodo et magna cillum adipisicing commodo id anim dolore minim veniam qui sunt sit anim eu.
                div
                    div
                        p Commodo sit ullamco anim consequat
                    div
                        h5 Laborum non ad esse occaecat reprehenderit tempor 
                        p Proident sed quis deserunt in consequat reprehenderit velit irure cillum esse sunt anim tempor est deserunt commodo magna ullamco sint sint velit officia commodo et magna cillum adipisicing commodo id anim dolore minim veniam qui sunt sit anim eu.
            .ExperienceColumn
                div
                    div
                        img(src="")
                    div
                        p aslfd
                        p alfskj
                    div
                        p Ut sit dolore aliqua commodo qui ut sed excepteur exercitation elit adipisicing reprehenderit sed quis dolore dolore adipisicing enim tempor laboris ad sint minim mollit ullamco amet minim pariatur laboris id dolore consectetur enim ex dolore.
                        a(href="#")
                            lsdfj img(src="#")
                div
                    div
                        img(src="#")
                    div
                        p project
                        h4 project dragon fire
                        p Quis duis deserunt amet quis enim quis id exercitation magna aute dolore occaecat in dolor deserunt enim ut ea exercitation dolore dolor et in veniam quis elit dolore non in adipisicing fugiat anim duis in est.
                        a(href="")
                            Launch projects img(src="#")


