extends layout

block content
    .MainContainer
        .SideBar
            .SelectionContainer
                .SelectionType
                    .TypeName
                       h3 Job Role
                    .SelectionOptions
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName Web Developer
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName Android Developer
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName iOS Developer
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName UX Designer
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName Data Scientist
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName Data Analyst
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName Product Manager
                .SelectionType
                    .TypeName
                        h3 Seeking
                    .SelectionOptions
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName Full Time
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName Freelance
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName Apprentice
                .SelectionType
                    .TypeName
                        h3 Location
                    .SelectionOptions
                       div
                           input.SelectOption(type="search" placeholder="search for a location")
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName Show alumni willing to relocate
                .SelectionTag
                    .TypeName
                        h3 GA Course History
                    .SelectionOptions
                       div
                           input.SelectOption(type="select" placeholder="select...")
                       div
                           input.SelectOption(type="checkbox")
                           lable.InputName Need Update
                .SelectionType
                    .TypeName
                        h3 Skills
                    .SelectionOptions
                       div
                           input.SelectOption(type="search" placeholder="Search or select...")
                .SelectionOptions
                   .loneOption
                       input.SelectOption(type="checkbox")
                       lable.InputName Show alumni not looking for work



        .ProfileList
            .card
                .cardInfo
                   a.CardLink(href="/alumniDetails") 
                       .LinkContent
                           img.CardImg(src="../public/images/drake.jpg")
                           .CardInnerContent
                               .CardNameOrgin
                                   h2.Name Drake Siemer
                                   .CardRightCorner
                                       p.Orgin texas
                               div.CardQuote
                                   dedicated learner
                               div.CardAchievements
                                   div
                                       img(src="")
                                   div
                                       p working at inventive
                               ul.CardSkills
                                   li.SkillItem react
                                   li.SkillItem node

