extends layout

block content
    .MainContainer
        .SideBar
            .SelectionContainer
                .SelectionType
                    .TypeName
                       h3 Job Role
                    .SelectionOptions
                       div
                           input.SelectOption(type="checkbox")
                           lable Web Developer
                       div
                           input.SelectOption(type="checkbox")
                           lable Android Developer
                       div
                           input.SelectOption(type="checkbox")
                           lable iOS Developer
                       div
                           input.SelectOption(type="checkbox")
                           lable UX Designer
                       div
                           input.SelectOption(type="checkbox")
                           lable Data Scientist
                       div
                           input.SelectOption(type="checkbox")
                           lable Data Analyst
                       div
                           input.SelectOption(type="checkbox")
                           lable Product Manager
                .SelectionType
                    .TypeName
                        h3 Seeking
                    .SelectionOptions
                       div
                           input.SelectOption(type="checkbox")
                           lable Full Time
                       div
                           input.SelectOption(type="checkbox")
                           lable Freelance
                       div
                           input.SelectOption(type="checkbox")
                           lable Apprentice
                .SelectionType
                    .TypeName
                        h3 Location
                    .SelectionOptions
                       div
                           input.SelectOption(type="search" placeholder="search for a location")
                       div
                           input.SelectOption(type="checkbox")
                           lable Show alumni willing to relocate
                .SelectionTag
                    .TypeName
                        h3 GA Course History
                    .SelectionOptions
                       div
                           input.SelectOption(type="select" placeholder="select...")
                       div
                           input.SelectOption(type="checkbox")
                           lable Need Update
                .SelectionType
                    .TypeName
                        h3 Skills
                    .SelectionOptions
                       div
                           input.SelectOption(type="search" placeholder="Search or select...")
                .SelectionOptions
                   .loneOption
                       input.SelectOption(type="checkbox")
                       lable Show alumni not looking for work



        .ProfileList
            .card
                .cardInfo
                   a.CardLink(href="#") 
                       .LinkContent
                           img.CardImg(src="../public/images/drake.jpg")
                           .CardInnerContent
                               .CardNameOrgin
                                   h2.Name Drake Siemer
                                   p.Orgin texas
                               div.CardQuote
                                   dedicated learner
                               div.CardAchievements
                                   div
                                       img(src="")
                                   div
                                       p working at inventive
                               ul.CardSkills
                                   li react
                                   li node

