include Components/head.pug
body
    block header
        include Components/header.pug
    block headerSignIn
        include Components/signInHeader.pug
    block content

    block footer
        include Components/footer.pug
