extends layout

block content
  .form
    form(method="POST")
        div.form-group
           label(for="formGroupExampleInput") Email
           input(type="text" class="form-control" id="email" placeholder="name@gmail.com")
        div.form-group
           label(for="pwd") Password
           input(type="text" class="form-control" id="pwd" placeholder="********")
        div.form-group
           p.lastlogin Your last visit was Date.
        div.form-group
           a(class="submit" type="submit" href="alumniDetails") Create Account